<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RETO 1</title>
</head>
<body>
    <header>
        <p>MICROBLOG</p>
        <P>Other themes</P>
        <button>GitHub</button>

        <h1> A simnple blog built with Astro and Tailwind CSS
        </h1>
        <NAV>
            <ul>
                <li> <a href="1">home</a></li>
                <li> <a href="2">tailwind</a></li>
                <li> <a href="3">framewords</a></li>
                <li> <a href="4">development</a></li>
                <li> <a href="5">animation</a></li>
                <li> <a href="6">svg</a></li>
                <li> <a href="7">com</a></li>
                <li> <a href="8">Aria</a></li>
            </ul>
        </NAV>
    </header>

    <main>
        <section>
            <article>
                <img src="images/sala.jpg" >
                <p>Henrry Thomson
                    <h5>-Sat Jan 06</h5>
                </p>
                <h2>Helping your website get googly-eyed </h2>
                <p>Make Google do a double-take with Tailwind CSS's SEO magic. It's like giving yor website...</p>  
                <p>Animation CDN</p>     
            </article>
            <article>
                <img src="images/rollos.jpg" >
                <p>Isabela Garcia <h5>-Fri jan 05</h5></p>
                <h2>Because wriiting vanilla JS is so last season</h2>
                <p>tired of vanilla JS? space up your coding life with astro.JS It's the haute couture of...</p>     
                <p>CDN Aria</p>  
            </article>
            <article>
                <img src="images/trabaj.jpg" >
                <p> Tailwind CSS and astro.js the dynamic duo of web development <h5>-Thu jan 04</h5></p>
                <h2>BarbarQ</h2>
                <p>Join forces with the dynamic duo of web development-Tailwind CSS and astro.js</p>      
                <p>Animation SVG</p> 
            </article>
        </section>
        <section>         
            <article>
                <img src="images/cama.jpg" >
                <p>Giovanni Russo<h5>-Wed jan o3</h5></p>
                <h2>Making static sites less static, more fantastic</h2>
                <p>Say goodbye to static boredom with astro.js. This framework brings life to static sites</p>     
                <p>	Development Tailwind</p>  
            </article>
            <article>
                <img src="images/planta.jpg" >
                <p> Charlotte Parker <h5>-Tue jan 02</h5></p>
                <h2>Where utility-firts meets fashion-firts</h2>
                <p>Unleash your inner fashionista as we explore Tailwind CSS-the runway-ready framework</p>      
                <p>Frameworks Development</p> 
            </article>
            <article>
                <img src="images/plantas" >
                <p> Alejandro Martinez <h5>-Mon jan 01</h5></p>
                <h2>Because the universe needed a framework</h2>
                <p>Embark on a cosmic journey with astro.js, the framework that makes interstellar</p>   
                <p>HTML Tailwind</p>    
            </article>
        </section>

        <section>
            <h2>Join us to get our news in your inbox</h2>
            <search>
                <form action="">
                    <input type="text" placeholder="Enter your email">
                </form>
            </search>
            <button>Suscribete</button>
        </section>
    </main>

    <footer>
            <p>&copy;- 2024 Lexington Themes. All rights reserved. Lexington Themes is not affiliated with Astro or Tailwind Labs team, nor is it endorsed by or sponsored by these ones. A free template by Michael AndreuzzaThis website was built with Astro & Tailwind. Crafted in Aland islands, Finland.</p>
    </footer>
    

</body>
</html>