
div{
    background-color: salmon;
  }

  .card{
    background-color: yellowgreen;
  }
  .card1{
    color: aqua;
  }
  .card2{
    color: antiquewhite;
  }

  #eliminar{
    background-color: red;
  }

a[href="https://platzi.com"] {
    background-color: chocolate;
  }
  
    *{background-color: cornflowerblue;}


  * {
    font-size: 1.2rem;
  }
  .container li{
    color: aqua;
  }
  div > p{
    color: orangered;
}

p + div {
  color: red;
}
p~div{
  color: blue;
}
